.*
!.gitignore

*.o
*.lo
*.la
*.gcda
*.gcno
aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
.deps
install-sh
.libs
libtool
libzlog.so*
libzlog.a*
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
tags
TAGS
zlog-chk-conf
zlog-*.tar.gz
zlog.pc
callgrind*
err.log
test_*
!test_*.c
!test_*.conf
!test_*.h
doc/*.lyx~
doc/*.pdf
doc/obj.think
doc/zlog.3
doc/zlogtest.xls
doc/*.haux
doc/*.html
doc/*.htoc
doc/*.tex
test/press*
test/*.png
release.h
