aclocal.m4
autom4te.cache
build
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
doc/
.deps
*.gcda
*.gcno
install-sh
.libs
libtool
libxlog.so*
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
tags
zlog-chk-conf
*.o
*.lo
*.la
test_*
!test_*.c
!test_*.conf
zlog.pc
press.log*
callgrind*
err.log

